<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="SprayPersistenceBundle TestSuite">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
    <whitelist>
        <directory suffix=".php">./src</directory>
    </whitelist>
    <blacklist>
        <directory>./vendor</directory>
        <directory>./test</directory>
    </blacklist>
</phpunit>
